/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of Myers reset */

html, body, .container {
    height: 100%;
}

h2 {
    font-size: 26px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.user-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #6fade1; 
    font-weight: 200;
    cursor: pointer;
}

img {
    cursor: pointer;
}

/* header */
.header {
    background-color: #ffff;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 13px 40px 13px 40px;
    gap: 25px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar > input {
    background-color: #d5edfd;
    border: none;
    border-radius: 10px;
    width: 80%;
}

.top-right {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;
    font-weight: 900;
}

.top-right > img {
    align-self: center;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-greeting > .user-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #6fade1; 
}

.user-greeting-text {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-buttons {
    display: flex;
    gap: 15px;
    justify-self: flex-end;
}

.header-buttons > button {
    background-color: #0ea5e9;
    color: #ffff;
    border: none;
    border-radius: 45px;
    padding: 1em 2em;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* main content */
.main-content {
    background-color: #e0f2fe;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: inset 0px 3px 6px 0px #888888;
    padding-bottom: 20px;
}

/* projects */
.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
}

.projects > h2 {
    padding: 22px;
    font-weight: 900;
    padding-bottom: 0px;
}

.card-container {
    display: grid;
    gap: 36px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    padding: 22px;
    flex-grow: 1;
}

.card {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-left: 10px solid #6fade1;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 30px;
    padding-left: 26px;
}

.card-text > h2 {
    font-weight: 900;
}

.card-text > p {
    color: rgb(82, 81, 81)
}

.icon-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 10px;
    flex-grow: 1;
    padding: 10px;
}

.icon-container > img {
    height: 36px;
    width: 36px;
}

.announcements {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.announcements > h2 {
    padding: 22px;
    font-weight: 900;
    padding-bottom: 0px;
    padding-left: 0px;
}

.announce-container {
    background-color: #ffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    padding: 22px;
    margin-right: 22px;
}

.announce-card {
    border-bottom: solid 2px #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-bottom: 21px;
}

.announce-card:nth-child(3) {
    border-bottom: none;
}

.announce-card > h2 {
    font-weight: 900;
    font-size: 22px;
}

.announce-card > p {
    font-size: 14px;
    color: rgb(82, 81, 81)
}

/* trending */
.trending {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.trending > h2 {
    padding: 22px;
    font-weight: 900;
    padding-bottom: 0px;
    padding-left: 0px;
}

.trend-container {
    background-color: #ffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    padding: 22px;
    margin-right: 22px;
}

.trend-card {
    display: flex;
    gap: 10px;
}

.trend-card .pink {
    background-color: #eea7a7;
}

.trend-card .red {
    background-color: #bb1b1b;
}

.trend-card .green {
    background-color: #2de24b;
}

.trend-card .yellow {
    background-color: #8c9916;
}

.trend-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(82, 81, 81);
    justify-content: center;
}

.trend-card-text > p:first-of-type {
    font-weight: 800;
    color: rgb(0, 0, 0)
}

/* sidebar */
.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #0ea5e9;
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 25px;
}

.dashboard-title {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 2em;
    align-items: center;
    gap: 17px;
    color: white;
}

.sidebar-one, .sidebar-two {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 33px;
    color: white;
}

.sidebar-one > h2, .sidebar-two > h2 {
    font-size: 16px;
}
