/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of Myers reset */

html, body, .container {
    height: 100%;
}

h2 {
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    grid-column-start: 2;
}

.search-bar {
    display: flex;
}

.search-bar > input {
    background-color: rgb(215, 255, 242);
    border: none;
    border-radius: 10px;
    width: 100%;
}

.top-right {
    display: flex;
    align-items: center;
}

.top-right > img {
    align-self: center;
}

.top-right > p {
    font-size: 1.5em;
}

.user-greeting {
    display: flex;
    align-items: center;
}

.main-content {
    background-color: grey;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(126, 164, 235);
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 25px;
    padding-right: 60px;
}

.dashboard-title {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 2em;
    align-items: center;
    gap: 33px;
    color: white;
}

.sidebar-one, .sidebar-two {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 1.5em;
    align-items: center;
    gap: 33px;
    color: white;
}
