html, body, .container {
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    grid-column-start: 2;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(126, 164, 235);
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: grey;
}